In [1]:
#load email data in a df
email_df <- read.csv("https://ibm.box.com/shared/static/cbim8daa5vjf5rf4rlz11330lvqbu7rk.csv")
email_df

  Name         Email
1 John Doe     doej@example.com
2 Jane Doe     jadoe@sample.ca
3 Mark Mann    mmann@example.ca
4 Barry Goode  bgoode@example.com
5 Joe Star     joes@sample.com
6 Susan Quinn  qsus@example.br
7 Alice Erin   erina@example.com
8 Frank Irving irving@sample.com

In [2]:
# The grep function takes in a Regular Expression and a list of strings to search through and returns the positions of 
# where they appear in the list.
grep("@.+",  c("test@testing.com" , "not an email", "test2@testing.com"))

[1] 1 3

In [3]:
#value parameter in grep
grep("@.+",  c("test@testing.com", "not an email", "test2@testing.com"), value=TRUE)

[1] "test@testing.com"  "test2@testing.com"

In [4]:
#gsub', is a substitution function. It takes in a Regular Expression, 
# the string you want to swap in with the matches and a list of strings you want to perform the swap with
gsub("@.+", "@newdomain.com", c("test@testing.com", "not an email", "test2@testing.com"))

[1] "test@newdomain.com"  "not an email"        "test2@newdomain.com"

In [5]:
# 'regexpr' and 'regmatches', work in conjunction to extract the matches found by a 
# regular expression specified in 'regexpr'.
matches <- regexpr("@.*", c("test@testing.com", "not an email", "test2@testing.com"))
regmatches(c("test@testing.com", "not an email", "test2@testing.com"), matches)

[1] "@testing.com" "@testing.com"

In [6]:
#extract the needed strings
matches <- regexpr("@.*\\.", email_df[,'Email'])
email_df[,'Domain'] = regmatches(email_df[,'Email'], matches)

In [7]:
#resulting data frame
email_df

  Name         Email              Domain
1 John Doe     doej@example.com   @example.
2 Jane Doe     jadoe@sample.ca    @sample.
3 Mark Mann    mmann@example.ca   @example.
4 Barry Goode  bgoode@example.com @example.
5 Joe Star     joes@sample.com    @sample.
6 Susan Quinn  qsus@example.br    @example.
7 Alice Erin   erina@example.com  @example.
8 Frank Irving irving@sample.com  @sample.

In [8]:
#frequency table for domains
table(email_df[,'Domain'])

@example.  @sample.
        5         3