In [1]:
# Vectors are strings of numbers, characters or logical data (one-dimension array).
# In other words, a vector is a simple tool to store your grouped data.
# In R, you create a vector with the combine function c().
# You place the vector elements separated by a comma between the brackets.
# Vectors will be very useful in the future as they allow you to apply operations on a series of data easily.
# Note that the items in a vector must be of the same class, for example all should be either number, character, or logical.

In [2]:
#numeric vectors
release_year <- c(1985, 1999, 2015, 1964)
release_year

[1] 1985 1999 2015 1964

In [3]:
#character vector
# Create genre vector and assign values to it 
titles <- c("Toy Story", "Akira", "The Breakfast Club")
titles

[1] "Toy Story"          "Akira"              "The Breakfast Club"

In [4]:
#logical veectors
titles == "Akira" # which item in `titles` is equal to "Akira"?

[1] FALSE  TRUE FALSE

In [5]:
###vector operations
#add to a vector
release_year <- c(release_year, 2016:2018)
release_year

[1] 1985 1999 2015 1964 2016 2017 2018

In [6]:
#find length of a vector
release_year
length(release_year)

[1] 1985 1999 2015 1964 2016 2017 2018

[1] 7

In [7]:
#head and tail of a vector
head(release_year) #first six items
head(release_year, 2) #first 2
tail(release_year) #last six items
tail(release_year, 2) #last two items

[1] 1985 1999 2015 1964 2016 2017

[1] 1985 1999

[1] 1999 2015 1964 2016 2017 2018

[1] 2017 2018

In [8]:
#sort a vector
sort(release_year)

[1] 1964 1985 1999 2015 2016 2017 2018

In [9]:
#sort in descending order
sort(release_year, decreasing = TRUE)

[1] 2018 2017 2016 2015 1999 1985 1964

In [10]:
#min and max values
min(release_year)
max(release_year)

[1] 1964

[1] 2018

In [11]:
#average
cost_2014 <- c(8.6, 8.5, 8.1)

# sum results in the sum of all elements in the vector
avg_cost_2014 <- sum(cost_2014)/3
avg_cost_2014

[1] 8.4

In [12]:
#mean function
mean_cost_2014 <- mean(cost_2014)
mean_cost_2014

[1] 8.4

In [13]:
#give names to values in a vector
#Creating a year vector
release_year <- c(1985, 1999, 2010, 2002)

#Assigning names
names(release_year) <- c("The Breakfast Club", "American Beauty", "Black Swan", "Chicago")

release_year

The Breakfast Club    American Beauty         Black Swan            Chicago
              1985               1999               2010               2002

In [14]:
release_year[c("American Beauty", "Chicago")]

American Beauty         Chicago
           1999            2002

In [15]:
release_year[1] + 100 #adding 100 to the first item changes the year

The Breakfast Club
              2085

In [17]:
#retrive names
names(release_year)[1:3]

[1] "The Breakfast Club" "American Beauty"    "Black Swan"

In [18]:
#summarize vectors
summary(cost_2014)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   8.10    8.30    8.50    8.40    8.55    8.60

In [19]:
#make logical comparisons across multple vectors
movies_years <- c(1998, 2010, 2016)
movies_years > 2014

[1] FALSE FALSE  TRUE

In [20]:
#equal and not equal to
movies_years == 2015 # is equal to 2015?
movies_years != 2015

[1] FALSE FALSE FALSE

[1] TRUE TRUE TRUE

In [21]:
#subsetting vectors
movie_years <- c(1985, 1999, 2002, 2010, 2012)
movie_years[2] #second item

[1] 1999

In [22]:
#retrieve multiple items
movie_years[c(1,3)] #first and third items

[1] 1985 2002

In [23]:
#negative indexing, slice
titles <- c("Black Swan", "Jumanji", "City of God", "Toy Story", "Casino")
titles[-1]

[1] "Jumanji"     "City of God" "Toy Story"   "Casino"

In [24]:
#not available
age_restric <- c(14, 12, 10, NA, 18, NA)
age_restric

[1] 14 12 10 NA 18 NA

In [25]:
release_year[movie_years > 2000] #returns a vector for elements that returned TRUE for the condition

Black Swan    Chicago       <NA>
      2010       2002         NA

In [26]:
release_year
release_year[c(T, F, F, F)] #returns the values that are TRUE

The Breakfast Club    American Beauty         Black Swan            Chicago
              1985               1999               2010               2002

The Breakfast Club
              1985

In [27]:
##Factors

In [28]:
# Factors are variables in R which take on a limited number of different values;
# such variables are often refered to as categorical variables. The difference between a categorical
# variable and a continuous variable is that a categorical variable can belong to a limited number of categories.
genre_vector <- c("Comedy", "Animation", "Crime", "Comedy", "Animation")
genre_vector

[1] "Comedy"    "Animation" "Crime"     "Comedy"    "Animation"

In [29]:
#create factor level
genre_factor <- as.factor(genre_vector)
levels(genre_factor)

[1] "Animation" "Comedy"    "Crime"

In [30]:
summary(genre_factor) #summarise factors

Animation    Comedy     Crime
        2         2         1

In [31]:
sort(summary(genre_factor)) #sorts values by ascending order

    Crime Animation    Comedy
        1         2         2

In [32]:
#ordered factors
movie_length <- c("Very Short", "Short", "Medium","Short", "Long",
                        "Very Short", "Very Long")
movie_length

[1] "Very Short" "Short"      "Medium"     "Short"      "Long"
[6] "Very Short" "Very Long"

In [33]:
movie_length_ordered <- factor(movie_length, ordered = TRUE , 
                                 levels = c("Very Short" , "Short" , "Medium", 
                                            "Long","Very Long"))
movie_length_ordered

[1] Very Short Short      Medium     Short      Long       Very Short Very Long
Levels: Very Short < Short < Medium < Long < Very Long

In [34]:
#summary
summary(movie_length_ordered)

Very Short      Short     Medium       Long  Very Long
         2          2          1          1          1