In [1]:
# A list is a sequenced collection of different objects of R, like vectors, numbers, c
# haracters, other lists as well, and so on. You can consider a list as a container of correlated information, 
# well structured and easy to read. A list accepts items of different types

In [2]:
movie <- list("Toy Story", 1995, c("Animation", "Adventure", "Comedy"))

In [3]:
movie

[[1]]
[1] "Toy Story"

[[2]]
[1] 1995

[[3]]
[1] "Animation" "Adventure" "Comedy"

In [4]:
#named lista
movie <- list(name = "Toy Story",
             year = 1995,
             genre = c("Animation", "Adventure", "Comedy"))

In [5]:
movie

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

In [6]:
movie$genre

[1] "Animation" "Adventure" "Comedy"

In [7]:
movie["genre"]

$genre
[1] "Animation" "Adventure" "Comedy"

In [8]:
movie[2:3]

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

In [9]:
# The function class() returns the type of a object
class(movie$name)
class(movie$foreign)

[1] "character"

[1] "NULL"

In [11]:
#add a new item
movie[["age"]] <- 5
movie

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

$age
[1] 5

In [12]:
#modify
movie[["age"]] <- 6
# Now it's 6, not 5
movie

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

$age
[1] 6

In [13]:
#remove
movie[["age"]] <- NULL
movie

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

In [15]:
#concatenating lists

# We split our previous list in two sublists
movie_part1 <- list(name = "Toy Story")
movie_part2 <- list(year = 1995, genre = c("Animation", "Adventure", "Comedy"))

In [16]:
# Now we call the function c() to put everything together again
movie_concatenated <- c(movie_part1, movie_part2)

# Check it out
movie_concatenated

$name
[1] "Toy Story"

$year
[1] 1995

$genre
[1] "Animation" "Adventure" "Comedy"

In [17]:
#Dataframes
# A DataFrame is a structure that is used for storing data tables.
# Underneath it all, a data frame is a list of vectors of same length, exactly like a table

movies <- data.frame(name = c("Toy Story", "Akira", "The Breakfast Club", "The Artist",
                              "Modern Times", "Fight Club", "City of God", "The Untouchables"),
                    year = c(1995, 1998, 1985, 2011, 1936, 1999, 2002, 1987),
                    stringsAsFactors=F)

In [18]:
movies

  name               year
1 Toy Story          1995
2 Akira              1998
3 The Breakfast Club 1985
4 The Artist         2011
5 Modern Times       1936
6 Fight Club         1999
7 City of God        2002
8 The Untouchables   1987

In [19]:
movies$name

[1] "Toy Story"          "Akira"              "The Breakfast Club"
[4] "The Artist"         "Modern Times"       "Fight Club"
[7] "City of God"        "The Untouchables"

In [20]:
# This returns the first (1st) column
movies[1]

  name
1 Toy Story
2 Akira
3 The Breakfast Club
4 The Artist
5 Modern Times
6 Fight Club
7 City of God
8 The Untouchables

In [21]:
#str() function
str(movies)

'data.frame':	8 obs. of  2 variables:
 $ name: chr  "Toy Story" "Akira" "The Breakfast Club" "The Artist" ...
 $ year: num  1995 1998 1985 2011 1936 ...

In [22]:
#class() function
class(movies$year)

[1] "numeric"

In [23]:
movies[1,2] #1-Toy Story, 2-1995

[1] 1995

In [24]:
movies['length'] <- c(81, 125, 97, 100, 87, 139, 130, 119)
movies #new column added

  name               year length
1 Toy Story          1995  81
2 Akira              1998 125
3 The Breakfast Club 1985  97
4 The Artist         2011 100
5 Modern Times       1936  87
6 Fight Club         1999 139
7 City of God        2002 130
8 The Untouchables   1987 119

In [25]:
#add a new movie
movies <- rbind(movies, c(name="Dr. Strangelove", year=1964, length=94))
movies

  name               year length
1 Toy Story          1995 81
2 Akira              1998 125
3 The Breakfast Club 1985 97
4 The Artist         2011 100
5 Modern Times       1936 87
6 Fight Club         1999 139
7 City of God        2002 130
8 The Untouchables   1987 119
9 Dr. Strangelove    1964 94

In [26]:
#delete movie
movies <- movies[-12,]
movies

  name               year length
1 Toy Story          1995 81
2 Akira              1998 125
3 The Breakfast Club 1985 97
4 The Artist         2011 100
5 Modern Times       1936 87
6 Fight Club         1999 139
7 City of God        2002 130
8 The Untouchables   1987 119
9 Dr. Strangelove    1964 94

In [27]:
#delete a column
movies[["length"]] <- NULL
movies

  name               year
1 Toy Story          1995
2 Akira              1998
3 The Breakfast Club 1985
4 The Artist         2011
5 Modern Times       1936
6 Fight Club         1999
7 City of God        2002
8 The Untouchables   1987
9 Dr. Strangelove    1964