In [1]:
#download dataset
# code to download the dataset
download.file("https://ibm.box.com/shared/static/n5ay5qadfe7e1nnsv5s01oe1x62mq51j.csv", destfile="movies-db.csv")

In [2]:
#associate data to a dataframe
movies_data <- read.csv("movies-db.csv", header=TRUE, sep=",")

In [3]:
#control statements-conditions and loops

In [4]:
#if
movie_year = 2002

# If Movie_Year is greater than 2000...
if(movie_year > 2000){

    # ...we print a message saying that it is greater than 2000.
    print('Movie year is greater than 2000')

}

[1] "Movie year is greater than 2000"

In [5]:
#if else
movie_year = 1997

# If Movie_Year is greater than 2000...
if(movie_year > 2000){

    # ...we print a message saying that it is greater than 2000.
    print('Movie year is greater than 2000')

}else{ # If the above conditions were not met (Movie_Year is not greater than 2000)...
    
    # ...then we print a message saying that it is not greater than 2000.
    print('Movie year is not greater than 2000') 

}

[1] "Movie year is not greater than 2000"

In [6]:
#using operators
movie_year = 1997

# If Movie_Year is BOTH less than 2000 AND greater than 1990 -- both conditions have to be true! -- ... 
if(movie_year < 2000 & movie_year > 1990 ) {
    # ...then we print this message.
    print('Movie year between 1990 and 2000') 
}

# If Movie_Year is EITHER greater than 2010 OR less than 2000 -- any of the conditions have to be true! -- ... 
if(movie_year > 2010 | movie_year < 2000 ) {
    # ...then we print this message.
    print('Movie year is not between 2000 and 2010') 
}

[1] "Movie year between 1990 and 2000"
[1] "Movie year is not between 2000 and 2010"

In [7]:
#subset function
decade = 'recent'

# If the decade given is recent...
if(decade == 'recent' ){
    # Subset the dataset to include only movies after year 2000.
    subset(movies_data, year >= 2000)
} else { # If not...
    # Subset the dataset to include only movies before 2000.
    subset(movies_data, year < 2000)
}

   name                                      year length_min genre
4  The Artist                                2011 100        Romance
7  City of God                               2002 130        Crime
11 Room                                      2015 118        Drama
15 High School Musical                       2006  98        Comedy
16 Shaun of the Dead                         2004  99        Horror
19 Interstellar                              2014 169        Adventure
22 Blue is the Warmest Colour                2013 179        Romance
23 Black Swan                                2010 108        Thriller
25 The Wave                                  2008 107        Thriller
26 Whiplash                                  2014 106        Drama
27 The Grand Hotel Budapest                  2014 100        Crime
29 The Eternal Sunshine of the Spotless Mind 2004 108        Drama
30 Chicago                                   2002 113        Comedy
   average_rating cost_millions foreign age_restriction
4  8.0             15.0         1       12
7  8.7              3.3         1       18
11 8.3             13.0         1       14
15 5.2              4.2         0        0
16 8.0              6.1         1       18
19 8.6            165.0         0       10
22 7.8              4.5         1       18
23 8.0             13.0         0       16
25 7.6              5.5         1       16
26 8.5              3.3         1       12
27 8.1             25.5         0       14
29 8.3             20.0         0       14
30 7.2             45.0         0       12

In [8]:
#loops

In [9]:
#for
# Get the data for the "year" column in the data frame.
years <- movies_data['year']

# For each value in the "years" variable...
# Note that "val" here is a variable -- it assumes the value of one of the data points in "years"!
for (val in years) {
    # ...print the year stored in "val".
    print(val)
}

 [1] 1995 1998 1985 2011 1936 1999 2002 1987 1977 1999 2015 1964 1998 1975 2006
[16] 2004 1976 1994 2014 1995 1990 2013 2010 1985 2008 2014 2014 1995 2004 2002

In [10]:
#while
# Creating a start point.
iteration = 1

# We want to repeat until we reach the sixth operation -- but not execute the sixth time.
# While iteration is less or equal to five...
while (iteration <= 5) {
    
    print(c("This is iteration number:",as.character(iteration)))
    
    # ...print the "name" column of the iteration-th row.
    print(movies_data[iteration,]$name)
    
    # And then, we increase the "iteration" value -- so that we actually reach our stopping condition
    # Be careful of infinite while loops!
    iteration = iteration + 1
}

[1] "This is iteration number:" "1"
[1] Toy Story
30 Levels: Akira American Beauty Back to the Future ... Whiplash
[1] "This is iteration number:" "2"
[1] Akira
30 Levels: Akira American Beauty Back to the Future ... Whiplash
[1] "This is iteration number:" "3"
[1] The Breakfast Club
30 Levels: Akira American Beauty Back to the Future ... Whiplash
[1] "This is iteration number:" "4"
[1] The Artist
30 Levels: Akira American Beauty Back to the Future ... Whiplash
[1] "This is iteration number:" "5"
[1] Modern Times
30 Levels: Akira American Beauty Back to the Future ... Whiplash

In [11]:
#applying funtions to vectors
# First, we create a vector...
my_list <- c(10,12,15,19,25,33)

# ...we can try adding two to all the values in that vector.
my_list + 2

# Or maybe even exponentiating them by two.
my_list ** 2

# We can also sum two vectors element-wise!
my_list + my_list

[1] 12 14 17 21 27 35

[1]  100  144  225  361  625 1089

[1] 20 24 30 38 50 66