In [ ]:
#download the dataset

download.file("https://ibm.box.com/shared/static/n5ay5qadfe7e1nnsv5s01oe1x62mq51j.csv", destfile="movies-db.csv")

In [1]:
#predefined functions
ratings <- c(8.7, 6.9, 8.5)
mean(ratings)

[1] 8.033333

In [2]:
sort(ratings)

[1] 6.9 8.5 8.7

In [3]:
sort(ratings, decreasing = TRUE)

[1] 8.7 8.5 6.9

In [5]:
#user defined functions
printHelloWorld <- function(){
    print("Hello World")
}
printHelloWorld()

[1] "Hello World"

In [6]:
printHelloWorld()

[1] "Hello World"

In [7]:
printHelloWorld()

[1] "Hello World"

In [8]:
add <- function(x, y) {
    x + y
}
add(3, 4)

[1] 7

In [9]:
add <- function(x, y){
    return(x + y)
}
add(3, 4)

[1] 7

In [10]:
#return statement 
isGoodRating <- function(rating){
    #This function returns "NO" if the input value is less than 7. Otherwise it returns "YES".
    
    if(rating < 7){
        return("NO") # return NO if the movie rating is less than 7
    
    }else{
        return("YES") # otherwise return YES
    }
}

isGoodRating(6)
isGoodRating(9.5)

[1] "NO"

[1] "YES"

In [11]:
#default threshold/ argument values
isGoodRating <- function(rating, threshold = 7){
    if(rating < threshold){
        return("NO") # return NO if the movie rating is less than the threshold
    }else{
        return("YES") # otherwise return YES
    }
}

isGoodRating(6)
isGoodRating(10)

[1] "NO"

[1] "YES"

In [12]:
isGoodRating(8, threshold = 8.5)

[1] "NO"

In [13]:
isGoodRating(8, 8.5) #rating = 8, threshold = 8.5

[1] "NO"

In [15]:
#functions within functions
my_data <- read.csv("movies-db.csv")
head(my_data)

  name               year length_min genre     average_rating cost_millions
1 Toy Story          1995  81        Animation 8.3            30.0
2 Akira              1998 125        Animation 8.1            10.4
3 The Breakfast Club 1985  97        Drama     7.9             1.0
4 The Artist         2011 100        Romance   8.0            15.0
5 Modern Times       1936  87        Comedy    8.6             1.5
6 Fight Club         1999 139        Drama     8.9            63.0
  foreign age_restriction
1 0        0
2 1       14
3 0       14
4 1       12
5 0       10
6 0       18

In [16]:
# Within myData, the row should be where the first column equals "Akira"
# AND the column should be "average_rating"

akira <- my_data[my_data$name == "Akira", "average_rating"]
akira

isGoodRating(akira)

[1] 8.1

[1] "YES"

In [17]:
watchMovie <- function(data, moviename){
    rating <- data[data["name"] == moviename,"average_rating"]
    return(isGoodRating(rating))
}

watchMovie(my_data, "Akira")

[1] "YES"

In [18]:
watchMovie <- function(data, moviename, my_threshold){
    rating <- data[data$name == moviename,"average_rating"]
    return(isGoodRating(rating, threshold = my_threshold))
}

In [19]:
watchMovie(my_data, "Akira", 7)

[1] "YES"

In [20]:
watchMovie <- function(data, moviename, my_threshold = 7){
    rating <- data[data[,1] == moviename,"average_rating"]
    return(isGoodRating(rating, threshold = my_threshold))
}

watchMovie(my_data,"Akira")

[1] "YES"

In [21]:
a <- watchMovie(my_data, "Akira")
a

[1] "YES"

In [22]:
watchMovie <- function(moviename, my_threshold = 7){
    rating <- my_data[my_data[,1] == moviename,"average_rating"]

    memo <- paste("The movie rating for", moviename, "is", rating)
    print(memo)
    
    return(isGoodRating(rating, threshold = my_threshold))
}

watchMovie("Akira")

[1] "The movie rating for Akira is 8.1"

[1] "YES"

In [23]:
x <- watchMovie("Akira")

[1] "The movie rating for Akira is 8.1"

In [24]:
print(x)

[1] "YES"

In [25]:
#local variables
watchMovie <- function(moviename, my_threshold = 7){
    rating <- my_data[my_data[,1] == moviename,"average_rating"]
    
    memo <- paste("The movie rating for", moviename, "is", rating)
    print(memo)
    
    isGoodRating(rating, threshold = my_threshold)
}

watchMovie("Akira")

[1] "The movie rating for Akira is 8.1"

[1] "YES"

In [26]:
memo

ERROR: Error in eval(expr, envir, enclos): object 'memo' not found

In [27]:
#global variables
myFunction <- function(){
    y <<- 3.14
    return("Hello World")
    }
myFunction()

[1] "Hello World"

In [28]:
y #created only in the myFunction function

[1] 3.14

In [29]:
# !!thank you!