In [1]:
#code will run with error

"b" + 13

ERROR: Error in "b" + 13: non-numeric argument to binary operator

In [4]:
#another error, example

for (i in 4:16){
    #for all numbers from 4 to 15
    
    print( "c" * i)
    }

ERROR: Error in "c" * i: non-numeric argument to binary operator

In [5]:
#tryCatch
tryCatch(10 + 10)
tryCatch("a" + 10) #Error

[1] 20

ERROR: Error in "a" + 10: non-numeric argument to binary operator

In [6]:
#If tryCatch detects it will cause an error, print a message instead. Overall, no error is generated and the code continued to run successfully.

tryCatch(10 + "a", 
         error = function(e) print("Oops, something went wrong!") ) #No error

[1] "Oops, something went wrong!"

In [7]:
#If error, return "10a" without an error

x <- tryCatch(10 + "a", error = function(e) return("10a") ) #No error
x

[1] "10a"

In [8]:
tryCatch(
    for(i in 1:3){
        #for every number, i, in the sequence of 1,2,3:
        print(i + "a")
        }
    , error = function(e) print("Found error.") )

[1] "Found error."

In [9]:
as.integer("A") #Converting "A" into an integer warns the user that the value is converted to NA

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA

In [10]:
#warnings
as.integer("A") #Converting "A" into an integer warns the user that the value is converted to NA

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] NA